[Unit]
Description=garage monitor
After=network.target

[Service]
Environment=API_TOKEN=justlikeheavenwestvirginia
ExecStart=/opt/downloads/node/bin/node /opt/projects/garage-monitor/local-monitor/local-monitor.js
WorkingDirectory=/opt/projects/garage-monitor/local-monitor
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
